<div class="swiper mySwiperHero" data-swiper
     data-options='{"spaceBetween":30,"centeredSlides":true,"effect":"fade","autoplay":{"delay":2500,"disableOnInteraction":false},"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"}}'>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="" height="950" width="450" src="{{ basepath }}/templates/{{ template }}/img/banner/basketball.jpg"/>
        </div>
        <div class="swiper-slide">
            <img class="" height="950" width="450" src="{{ basepath }}/templates/{{ template }}/img/banner/soccer.jpg"/>
        </div>
        <div class="swiper-slide">
            <img class="" height="950" width="450" src="{{ basepath }}/templates/{{ template }}/img/banner/running.jpg"/>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>