<section class="container-lg container-icons" style="margin:2rem auto 4rem auto;">
    <div class="row p-2 shadow">
        <div class="p-2 container_svg col-sm-6 col-lg-3 d-md-flex align-items-center">
            <img src="{{ basepath }}/templates/img/speedy-consegna.png" alt="consegna veloce"/>
            <div class="ps-lg-3 text-lg-start">
                <p class="m-0 card-title">{{ lang.shipping_info }}</p>
                <small>{{ lang.italian_territory }}</small>
            </div>
        </div>
        <div class="p-2 container_svg col-sm-6 col-lg-3 d-md-flex align-items-center">
            <img src="{{ basepath }}/templates/img/supporto-clienti.png" alt="supporto clienti"/>
            <div class="ps-lg-3 text-lg-start">
                <p class="m-0 card-title">{{ lang.support_info }}</p>
                <small>{{ lang.support_info_down }}</small>
            </div>
        </div>
        <div class="p-2 container_svg col-sm-6 col-lg-3 d-md-flex align-items-center">
            <img src="{{ basepath }}/templates/img/pagamenti-sicuri.png" alt="qualita convenienza"/>
            <div class="ps-lg-3 text-lg-start">
                <p class="m-0 card-title">{{ lang.secure_payments }}</p>
                <small>{{ lang.circuiti }}</small>
            </div>
        </div>
        <div class="p-2 container_svg col-sm-6 col-lg-3 d-md-flex align-items-center">
            <img src="{{ basepath }}/templates/img/soluzioni-personalizzate.png" alt="perfect gift"/>
            <div class="ps-lg-3 text-lg-start">
                <p class="m-0 card-title">{{ lang.personal_solutions }}</p>
                <small>{{ lang.personal_solutions_down }}</small>
            </div>
        </div>
    </div>
</section>