<div v-cloak v-show="showPage == 'cart'" class="row g-4 g-md-8">
    <!-- CartCheckout Items -->
    <div class="col-12 col-lg-6 col-xl-7">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="d-none d-sm-table-cell"></th>
                    <th class="ps-sm-3">{{ lang.thead_details }}</th>
                    <th class="text-align">{{ lang.thead_quantity }}</th>
                    <th class="text-align">{{ lang.thead_price }}</th>
                </tr>
                </thead>
                <tbody id="container-cart">
                {% include template ~ "/cart/components/cart-item.twig" %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- /CartCheckout Items -->

    <!-- CartCheckout Summary -->
    <div class="col-12 col-lg-6 col-xl-5 cart-summary">
        {#                <script id="cartSumTemplate" type="template">#}
        <div class="bg-dark p-4 p-md-5 text-white">
            <h3 class="fs-3 fw-bold m-0 text-center">{{ lang.order_summary }}</h3>
            <div class="py-3 border-bottom-white-opacity">
                <div class="d-flex justify-content-between align-items-center mb-2 flex-column flex-sm-row">
                    <p class="m-0 fw-bolder fs-6">{{ lang.subtotal }}</p>
                    <p class="m-0 fs-6 fw-bolder">{_ numberFormat(cartData.subtotal) _}</p>
                </div>
                <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row mt-3 m-sm-0">
                    <p class="m-0 fw-bolder fs-6">{{ lang.shipping }}</p>
                    <span class="text-white opacity-75 ms-5 small">{{ lang.shipping_text }}</span>
                </div>
            </div>
            <div class="py-3 border-bottom-white-opacity">
                <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row">
                    <div>
                        <p class="m-0 fs-5 fw-bold">{{ lang.title_subtotal }}</p>
                        {# <span class="text-white opacity-75 small">Inc $45.89 sales tax</span> #}
                    </div>
                    <p class="mt-3 m-sm-0 fs-5 fw-bold">{_ numberFormat(cartData.subtotal) _}</p>
                </div>
            </div>

            <!-- Coupon Code-->
            {#<button class="btn btn-link p-0 mt-2 text-white fw-bolder text-decoration-none" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
                Have a coupon code?
            </button>#
            <div class="collapse" id="collapseExample">
                <div class="card card-body bg-transparent p-0">
                    <div class="input-group mb-0 mt-2">
                        <input type="text" class="form-control border-0" placeholder="Enter coupon code">
                        <button class="btn btn-white text-dark px-3 btn-sm border-0 d-flex justify-content-center align-items-center">
                            <i class="ri-checkbox-circle-line ri-lg"></i></button>
                    </div>
                </div>
            </div>#}
            <!-- / Coupon Code-->

            <!-- Checkout Button-->
                <button type="button" class="btn btn-white w-100 text-center fw-semibold mt-3" @click="goToCheckout">{{ lang.link_checkout }}</button>
{#                                <a href="{{ basepath }}/checkout" class="btn btn-orange w-100 text-center mt-3 disabled"#}
{#                                   role="button"><i class="ri-paypal-line align-bottom"></i> Checkout with PayPal</a>#}
            <!-- Checkout Button-->
        </div>

        <!-- Payment Icons-->
        <ul class="list-unstyled d-flex justify-content-center mt-3">
            <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-paypal"></i></li>
            <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-mastercard"></i></li>
            <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-american-express"></i></li>
            <li class="mx-1 border d-flex align-items-center p-2"><i class="pi pi-visa"></i></li>
        </ul>
        <!-- / Payment Icons-->
        {#</script>#}
    </div>


    <!-- /CartCheckout Summary -->
</div>