{% extends template ~ "/layout/layout.twig" %}
{% block content %}
<section class="mt-0" style="padding-top: 1.5rem">
    <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
         style="background-image: url('{{ basepath }}/templates/arcigraphic/img/azienda/azienda.jpg')">
        <div class="container position-relative z-index-8 customTop" data-aos="fade-right" data-aos-delay="300">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item breadcrumb-light"><a href="{{ uripath }}">Home</a></li>
                    {% if category_breadcrumbs is defined %}
                        {% for breadcrumb in category_breadcrumbs %}
                            <li class="breadcrumb-item breadcrumb-light"><a style="color: {{ breadcrumb.color }}" href="{{ breadcrumb.link }}">{{ breadcrumb.text }}</a></li>
                        {% endfor %}
                    {% else %}

                        <li class="breadcrumb-item breadcrumb-light"><a href="{{ uripath }}/about_us">{{ lang.title }}</a></li>
                        {#                                <li class="breadcrumb-item breadcrumb-light"><a href="#">Activities</a></li>#}
                        {#                                <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Clothing</li>#}

                    {% endif %}
                </ol>

            </nav>                {#<h1 class="fw-bold display-6 mb-4 text-white">Latest Arrivals (121)</h1>#}
            <div class="col-12 col-md-6">
                {#                    <p class="lead text-white mb-0">#}
                {#                        Move, stretch, jump and hike in our latest waterproof arrivals. We've got you covered for your#}
                {#                        hike or climbing sessions, from Gortex jackets to lightweight waterproof pants. Discover our#}
                {#                        latest range of outdoor clothing.#}
                {#                    </p>#}
            </div>
        </div>
    </div>
</section>
    {% include template ~ "/layout/components/about_us_block.twig" %}
{% endblock %}