<section class="container_bg">
    <div class="module-group">
        <div class="container">
            <div class="row">
                <div class="pos_title">
                    <div>
                        <h2 class="mt-6" style="text-align: center;">{{ lang.title }}</h2>
                    </div>
                </div>
                <div class="banner-home">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-warpper banner-box">
                                <div><a href="#"><img class="img-responsive image" src="{{basepath}}/templates/arcigraphic/img/azienda/azienda.jpg" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-store">
                    <div class="row">
                        <div class="col-12">
                            <div class="banner-warpper banner-box text-center">
                                <h5>
                                    <div>{{ lang.about_text_1 }}</div>
                                    <div>{{ lang.about_text_2 }} <span class="fw-bold">{{ lang.about_text_2_bold }}</span></div>
                                    <div>{{ lang.about_text_3 }}</div>
                                    <div>{{ lang.about_text_4 }} <span class="fw-bold">{{ lang.about_text_4_bold }}</span></div>
                                    <div>{{ lang.about_text_5 }} <span class="fw-bold">{{ lang.about_text_5_bold }}</span> {{ lang.about_text_6 }} <strong>{{ lang.about_text_6_bold }}</strong></div>
                                    <div>{{ lang.about_text_7 }}</div>
                                    <div>{{ lang.about_text_8 }}</div>
                                    <div>{{ lang.about_text_9 }}</div>
                                </h5>
                            </div>
                        </div>
                     </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- upsidedown -->
<section class="container-lg upsidedown d-flex flex-column flex-md-row">
    <div class="d-flex flex-column p-2 p-md-4">
        <img class="img-fluid" src="{{basepath}}/templates/arcigraphic/img/azienda/about_photo.jpg" />
        <h3>{{ lang.vision_text }}</h3>
        <h5>
            <div>{{ lang.vision_text_1 }} <span class="fw-bold">{{ lang.vision_text_1_bold }}</span>{{ lang.vision_text_2 }} </div>
            <div>{{ lang.vision_text_3 }} <span class="fw-bold">{{ lang.vision_text_3_bold }}</span>{{ lang.vision_text_4 }}<span class="fw-bold">{{ lang.vision_text_4_bold }}</span></div>
            <div>{{ lang.vision_text_5 }} <span class="fw-bold">{{ lang.vision_text_5_bold }}</span> {{ lang.vision_text_6 }} </div>
            <div>{{ lang.vision_text_7 }} <span class="fw-bold">{{ lang.vision_text_7_bold }}</span></div>
            <div>{{ lang.vision_text_8 }} <span class="fw-bold">{{ lang.vision_text_8_bold }}</span></div>
        </h5>
    </div>
    <div class="d-flex flex-column flex-md-column-reverse p-2  p-md-4" >
        <img class="img-fluid" src="{{basepath}}/templates/arcigraphic/img/azienda/about_graph.jpg" />
        <div>
            <h2>{{ lang.product }}</h2>
            <h5>
                <div><span class="fw-bold">{{ lang.product_1_bold }}</span> {{ lang.product_1}}{{ lang.product_2 }} </div>
                <div>{{ lang.product_3 }} (<span class="fw-bold">{{ lang.product_3_bold }}</span>)</div>
                <div> {{ lang.product_4 }} <span class="fw-bold">{{ lang.product_4_bold }}</span> {{ lang.product_5 }} <span class="fw-bold">{{ lang.product_5_bold }}</span></div>
                <div>{{ lang.product_6 }}</div>
{#                <div>{{ lang.vision_text_8 }} <span class="fw-bold">{{ lang.vision_text_8_bold }}</span></div>#}
            </h5>
        </div>
    </div>
</section>
<!-- map -->
<section class="container_bg d-flex flex-column flex-md-row">
{#    <div class="col-2">#}
{#        <h3>{{ lang.title_map }}</h3>#}
{#    </div>#}
{#   #}
</section>
