{#<nav class="col-6 col-md mb-4 mb-md-0">#}
{#    <h6 class="mb-4 fw-bolder fs-6">{{ lang_layout.title_shop }}</h6>#}
{#    <ul class="list-unstyled">#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/category/3">Dog</a>#}
{#        </li>#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/category/2">Cat</a>#}
{#        </li>#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/category/1">Beauty</a>#}
{#        </li>#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/category/4">New Arrivals</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}
{#<!-- /Footer Nav-->#}
{#<!-- Footer Nav-->#}
{#<nav class="col-6 col-md mb-4 mb-md-0">#}
{#    <h6 class="mb-4 fw-bolder fs-6">{{ lang_layout.title_company }}</h6>#}
{#    <ul class="list-unstyled">#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/about_us">{{ lang_layout.link_about_us }}</a>#}
{#        </li>#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/privacy">Privacy</a>#}
{#        </li>#}
{#        <li class="mb-2">#}
{#            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">FAQs</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}
<!-- /Footer Nav-->
<!-- Footer Nav-->
{#<nav class="col-6 d-none d-md-block col-md">
    <h6 class="mb-4 fw-bolder fs-6">{{ lang_layout.title_nav }}</h6>
    <ul class="list-unstyled">
        <li class="mb-2">
            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/cart">{{ lang_layout.link_cart }}</a>
        </li>
        <li class="mb-2">
            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="{{ uripath }}/checkout">Checkout</a>
        </li>
        <li class="mb-2">
            <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">Account</a>
        </li>
    </ul>
</nav> #}
<div class="col-md-12 pb-6" align="center">
        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all mr-4" href="{{ uripath }}/">Home </a>
     |
        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all mr-4 ml-4" href="{{ uripath }}/about_us"> {{ lang_layout.link_about_us }} </a>
     |
        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all mr-4 ml-4" href="{{ uripath }}/contact_us"> {{ lang_layout.link_contact_us }} </a>
     |
        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all mr-4 ml-4" href="#"> New Arrivals </a>
     |
{#        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all mr-4 ml-4" href="{{ uripath }}/about_us"> {{ lang_layout.link_about_us }} </a>#}
{#     |#}
        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all mr-4 ml-4" href="{{ uripath }}/privacy"> Privacy </a>
     |
        <a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all ml-4" href="#"> FAQs</a>

</div>