<div class="container mt-7">
            <div class="row">
                <!-- Info box-->
                <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left">
                    <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                        <i class="ri-questionnaire-line ri-lg mb-3 mb-lg-0"></i>
                        <div class="ms-lg-4">
                            <p class="mb-1 lh-1 fw-bold">{{ lang_layout.customers_services }}</p>
                            {#<small class="text-muted">
                                <a class="text-muted" href="#">Click here</a> to chat with our support team
                            </small>#}
                        </div>
                    </div>
                </div>
                <!-- / Service box-->
                <!-- Service box-->
                <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left" data-aos-delay="250">
                    <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                        <i class="ri-truck-line ri-lg mb-3 mb-lg-0"></i>
                        <div class="ms-lg-4">
                            <p class="mb-1 lh-1 fw-bold">{{ lang_layout.free_delivery }}</p>
{#                            <small class="text-muted">{{ lang_layout.free_delivery_text }}</small>#}
                        </div>
                    </div>
                </div>
                <!-- / Service box-->
                <!-- Service box-->
                <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white" data-aos="fade-left" data-aos-delay="500">
                    <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                        <i class="ri-repeat-line ri-lg mb-3 mb-lg-0"></i>
                        <div class="ms-lg-4">
                            <p class="mb-1 lh-1 fw-bold">{{ lang_layout.returns }}</p>
{#                            <small class="text-muted">{{ lang_layout.returns_text }}</small>#}
                        </div>
                    </div>
                </div>
                <!-- / Services box-->                
            </div>    
        </div>